data/
outputs/
__pycache__/
*.pyc
*.npy
*.pth
.DS_Store

amt_piano/
tareas.txt
dataset/
processed_data/
processed_data_on_grid/
songs/
processed_data_HPPNET_100/
processed_data_HPPNET_100_J_25/
papers/

processed_data_HPPNET_100.rar

*.rar
models_kaggles_residual/

*.pyc
.ipynb_checkpoints/
*.rar
*.zip
*.pth
*.wav
*.mp3
*.mid

# Ignorar audios pesados
*.mp3
*.wav
*.flac

# Ignorar carpetas de generación (según tu lista)
mis_midis_generados/
midi_output_hppnet/
midi_output_residual_kaggle/