data/
outputs/
__pycache__/
*.pyc
*.npy
*.pth
.DS_Store

amt_piano/
tareas.txt
dataset/
songs/
papers/

models_kaggles_residual/

*.pyc
.ipynb_checkpoints/
*.rar
*.zip
*.wav
*.mp3
*.mid

# Ignorar audios pesados
*.wav
*.flac

# Ignorar carpetas de generación (según tu lista)
mis_midis_generados/
midi_output_hppnet/
midi_output_residual_kaggle/